/*Reset*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/*Variables colores*/
:root {
    --colorFondo: #E11364;
    --colorDivisor: #BC105C;
    --colorTitulos: #9C0037;
    --colorBotones: #2C8F20;
    --colorFooter: #E96093;
}

body {
    background-color: var(--colorFondo);
}

.boxJuegos {
    background-color: var(--colorDivisor);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    padding: 15px;
}

#header {
    padding: 5px;
}

section {
    border-radius: 7px;
}

.juegos {
    background-color: white;
    color: var(--colorTitulos);
    border-radius: 7px;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, p {
    text-align: left;
}

h3 {
    display: flex;
    justify-content: right;
    margin-bottom: 3px;
}

img {
    width: 100%;
}

article{
    padding: 10px;
    margin-bottom: 30px;
}

.punteado {
    border-top: 2px dotted black;
    padding: 5px;
    margin-bottom: 7px;
}

header {
    margin: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: white;
    border-right-color: white;
    border-width: 5px;
}

p {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

button {
    display: inline-flex;
    border: none;
    background-color: var(--colorBotones);
    border-radius: 5px;
    width: 80px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#footer {
    background-color: var(--colorFooter);
    padding: 25px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}
